/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F5F6F6;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 3px 6px #00000029;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #294C46;
  display: block;
  transition: 0.3s;
  margin: 1%;
}

.close-icon{
  position: absolute;
  top: 25px;
  left: 15px;
  height: 23px;
  width: 23px;
}
.menu-icon:hover{
  transform: rotate(360deg);
  transition: 0.3s;
}

.plus-icon{
  height: 25px;
  width: 25px;
}
@media (min-width: 1400px) {
  .close-icon {
    height: 32px;
    width: 32px;
  }
  .plus-icon{
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 501px) {
  .sidenav .plus-icon-wrapper, .search-bar{
    display: none;
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a:focus {
  color: #AFCEC4;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.search-bar{
  border: 2px solid #AFCEC4;
  border-radius: 10px;
  min-height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  color: #294C46;
}
.search-bar:active, .search-bar:focus{
  outline: none;
}
input::placeholder{
  font: normal normal normal 16px La Belle Aurore;
  color: #294C46;
}



