<div id="mySidenav" class="sidenav">
  <img class="menu-icon close-icon" src="../../assets/images/icons/cross-icon.svg" alt="" (click)="closeNav()">
  <a (click)="openRecipeForm()" class="plus-icon-wrapper"><img class="menu-icon plus-icon" src="../../assets/images/icons/plus-icon.svg" alt="icon ajouter"></a>
  <div class="search-bar-wrapper">
    <input class="search-bar" type="text" placeholder="Rechercher une recette..">
    <img class="search-icon" src="../../assets/images/icons/search-icon.svg" alt="icone rechercher">
  </div>
  <a href="#">Recettes</a>
  <a href="#">Listes</a>
  <a href="#">Register</a>
  <a href="#">Login</a>
</div>
