/* You can add global styles to this file, and also import other style files */

body{
  box-sizing: border-box;
  background-color: #F5F6F6;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/* Class to make menu slide from the left */
.menu-sidebar-visible{
  width: 320px !important;
}

/* Class to make add/edit recipe component slide from the right */
.recipe-form-visible{
  width: 100% !important;
}
@media (min-width: 900px) {
  .recipe-form-visible{
    width: 70% !important;
  }
}
@media (min-width: 1200px) {
  .recipe-form-visible{
    width: 50% !important;
  }
}
